$green-blue:rgb(20, 151, 140);


.lds-dual-ring {
  background-color: rgb(0, 56, 82);
  min-height:100%;
  width: 100%;
  position: fixed;
  top:0px;
  color: aliceblue;
  &:after {
    content: " ";
    display: block;
    width: 54px;
    height: 54px;
    margin:auto;
    margin-top:45vh;
    border-radius: 50%;
    border: 2px solid $green-blue;
    border-color: $green-blue transparent $green-blue transparent;
    animation: lds-dual-ring 0.5s linear infinite;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
